<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# thewatchlib: http://ogp.me/ns/apps/thewatchlib#">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title><%- title %></title>
        <%- body %>
        <link rel="icon" type="image/png" href="/resources/images/favicon.png">
        <link id="css" rel="stylesheet" type="text/css" href="/resources/css/style.css" />
    </head>
    <body>
        <div class="wrap">
            <div class="phone">
                <% if (showDemo) { %><iframe src="<%- appUrl %>"></iframe><% } %>
            </div>

            <div class="right">
                <h1>The Watch Lib</h1>
                <h3>Partagez vos livres avec vos amis</h3>

                <h4>WatchLib Rend notre bibliothèque social</h3>
                <p>Utilisez l'application WatchLib pour se connecter via Facebook et donnez votre opinion sur les livres
                que vous avez lu, partagez les avec vos amis et lisez leurs avis sur les livres.</p>

                <h4>Watchlib de l'Institut Supérieure de la Magistrature</h4>
                <p>Cette application est développé au sein du département informatique à l'Institut Supérieur de la 
                Magistrature (ISM). Un grand Merci à Mohammed Regragui qui nous a beaucoup aidé à mettre cette application 
                en place.</p>

                <a href="/app.html">Navigez dans l'application</a>
            </div>

            <div class="footer">
<% if (showDemo) { %>
                 Visitez http://watchlib.herokuapp.com/app.html en utilisant votre phone ou tablet.
<% } else { %>
               Visitez http://watchlib.herokuapp.com/app.html en utilisant votre phone ou tablet.
<% } %>
            </div>
        </div>
    </body>
</html>
