<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# thewatchlib: http://ogp.me/ns/apps/thewatchlib#">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title><%- title %></title>
        <%- body %>
        <link rel="icon" type="image/png" href="/resources/images/favicon.png">
        <link id="css" rel="stylesheet" type="text/css" href="/resources/css/style.css" />
    </head>
    <body>
        <div class="wrap">
            <div class="phone">
                <% if (showDemo) { %><iframe src="<%- appUrl %>"></iframe><% } %>
            </div>

            <div class="right">
                <h1>The Watch Lib</h1>
                <h3>Partagez vos livres avec vos amis</h3>

                <h4>WatchLib Rendre notre bibliothèque social</h3>
                <p>Utilisez l'application WatchList pour se connecter via FaceBook et donnez votre opinion sur les livres
                que vous avez lu, partagez avec vos amis et lire leurs avis sur les livres</p>

                <h4>watchlib de l'ISM</h4>
                <p>Cette application est développé au sein du département informatique à l'Institiut Supérieur de la 
                Magistrature (ism). Un grand Merci à Mohammed Regragui qui nous a beaucoup aidé à mettre cette application 
                en place.</p>

                <a href="zatchlib.herokuapp.com/app.html">navigez dans l'application</a>
            </div>

            <div class="footer">
<% if (showDemo) { %>
                 Visitez http://watchlib.herokuapp.com/app.html en utilisant votre phone ou tablet.
<% } else { %>
               Visitez http://watchlib.herokuapp.com/app.html en utilisant votre phone ou tablet.
<% } %>
            </div>
        </div>
    </body>
</html>
