@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSoraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzIraN7vELC11_xip9Rz-hMs.woff) format('woff');
}


.expandedMovie .img {
	border: 1px solid #fff;
	border-radius: 3px;
	float: left;
	height: 87px;
	overflow: hidden;
}

.expandedMovie .meta {
	margin-left: 70px;
	color: #fff;
}

.expandedMovie .meta h3 {
	font-family: 'PT Sans Narrow',sans-serif;
	font-size: 95%;
	line-height: 25px;
	font-weight: bold;
	margin-bottom: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.expandedMovie .meta .actions {
	min-height: 36px;
}

.rating {
	font-family: 'PT Sans Narrow',sans-serif;
	line-height: 30px;
	font-size: 80%;
}

.expandedMovie .meta .actions p {
	color: #848484;
	line-height: 16px;
	font-size: 70%;
}

.rating span {
	display: block;
	float: left;
	color: #f0910c;
	background: #191919;
	width: 36px;
	text-align: center;
	border-radius: 3px;
	margin-right: 4px;
}

.expandedMovie .meta .friends {
	color: #a1a1a1;
	font-size: 70%;
}

.x-toolbar.sort .x-button .x-button-label {
	font-family: 'PT Sans Narrow',sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.6em;
}

.x-button .x-button-icon.x-hidden {
	display: none;
}

.search {
	background: url("../images/bg-sprites.png") repeat-x;
	background-size: 1px 558px;
	background-position-x: 0;
	background-position-y: -864px;
	height: 48px;
}

.search .x-field-text {
	margin: 8px;
	background: url("../images/bg-sprites.png") repeat-x;
	background-size: 1px 558px;
	background-position-x: 0;
	background-position-y: -64px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	height: 31px;
	min-height: 31px;
}

.x-field:last-child {
	border-bottom: 0;
}
.search input.searchField {
	padding: 0 .4em;
	height: 25px;
	min-height: 25px;
	background: 0;
	margin-top: -5px;
}

.search .x-clear-icon {
	background: url("../images/icon-sprites.png") no-repeat;
	background-size: 219px 76px;
	background-position-x: -171px;
	background-position-y: -46px;
	width: 23px;
	height: 23px;
	margin-top: -0.7em;
}

.x-input-el {
	padding: .4em;
	min-height: 20px;
	border-width: 0;
	-webkit-appearance: none;
}

.search .x-clear-icon {
	background: url("../images/icon-sprites.png") no-repeat;
	background-size: 219px 76px;
	background-position-x: -171px;
	background-position-y: -46px;
	width: 23px;
	height: 23px;
	top: 12px;
	margin-right: -5px;
}

.x-form .x-scroll-container {
	background-color: transparent; 
}

.x-toolbar.small {
	z-index: 3;
	background: url("../images/bg-sprites.png") repeat-x;
	/*background-size: 1px 558px;*/
	background-position-x: 0;
	background-position-y: -299px;
	height: 51px;
	margin-bottom: -5px;
}

.x-toolbar .x-button {
	background: url("../images/bg-sprites.png") repeat-x;
	background-size: 0px 100px;
	background-position-x: 0;
	background-position-y: 0;
}

.x-button.searchBtn {
	width: 40px;
	height: 30px;
	border-radius: 12px;
	margin-right: 5px;
}

.fbProfilePic {
	position: relative;
	height: 35px;
	cursor: pointer;
}

.x-button.friends {
	width: 45px;
	height: 30px;
	border-radius: 0 3px 3px 0;
}

.sort {
	background: url("../images/bg-sprites.png") repeat-x;
	background-position-x: 0px;
	background-position-y: -300px;
	height: 48px;
}

.x-toolbar.small .x-toolbar-inner {
	margin-top: -1px;
}

.x-toolbar.small .headerTitle {
	background: url("../images/icon-sprites.png") no-repeat;
	background-size: 186px 72px;
	background-position-x: 10px;
	background-position-y: -45px;
	width: 100px;
	height: 26px;
	margin: auto;
}

.x-button.friends .x-button-icon {
	background: url("../images/icon-sprites.png") no-repeat;
	background-size: 222px 74px;
	background-position-x: -59px;
	background-position-y: 0;
	width: 26px;
	height: 18px;
}

.promo .logo {
	background: url("../images/icon-sprites.png") no-repeat;
	background-size: 218px 77px;
	background-position-x: -106px;
	background-position-y: -46px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	width: 17px;
	height: 24px;
}

.expandedMovie .moreArrow {
	background: url("../images/icon-sprites.png") no-repeat;
	background-size: 219px 76px;
	background-position-x: -106px;
	background-position-y: 0;
	width: 8px;
	height: 12px;
	position: absolute;
	right: 10px;
	top: 51px;
}

.x-button.backBtn {
	background: url("../images/icon-sprites.png") no-repeat;
	background-size: 219px 76px;
	background-position-x: -124px;
	background-position-y: 0;
	margin-left: 5px;
	border-radius: 3px;
	padding: 0 23px;
	height: 31px;
}

.movieDetail.ellipsis .moreArrow {
	position: absolute;
	background: url("../images/icon-sprites.png") no-repeat;
	background-size: 219px 76px;
	background-position-x: -106px;
	background-position-y: -23px;
	width: 12px;
	height: 8px;
	bottom: 0;
	left: 70%;
}
