@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSoraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzIraN7vELC11_xip9Rz-hMs.woff) format('woff');
}


.expandedMovie .img {
	border: 1px solid #fff;
	border-radius: 3px;
	float: left;
	height: 87px;
	overflow: hidden;
}

.expandedMovie .meta {
	margin-left: 70px;
	color: #fff;
}

.expandedMovie .meta h3 {
	font-family: 'PT Sans Narrow',sans-serif;
	font-size: 95%;
	line-height: 25px;
	font-weight: bold;
	margin-bottom: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.expandedMovie .meta .actions {
	min-height: 36px;
}

.rating {
	font-family: 'PT Sans Narrow',sans-serif;
	line-height: 30px;
	font-size: 80%;
}

.expandedMovie .meta .actions p {
	color: #848484;
	line-height: 16px;
	font-size: 70%;
}

.rating span {
	display: block;
	float: left;
	color: #f0910c;
	background: #191919;
	width: 36px;
	text-align: center;
	border-radius: 3px;
	margin-right: 4px;
}

.expandedMovie .meta .friends {
	color: #a1a1a1;
	font-size: 70%;
}

.x-toolbar.sort .x-button .x-button-label {
	font-family: 'PT Sans Narrow',sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.6em;
}

.x-button .x-button-icon.x-hidden {
	display: none;
}

